<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.music"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="16"
        android:targetSdkVersion="21" />

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name="com.example.music.application.MyApplication"
        android:allowBackup="true"
        android:icon="@drawable/music_logo"
        android:label="@string/app_name"
        android:theme="@android:style/Theme.Light.NoTitleBar" >
        <activity
            android:name=".SplashActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:label="@string/title_activity_splash" >
        </activity>
        <activity
            android:name=".MusicActivity"
            android:label="@string/title_activity_music" >
        </activity>

        <service android:name=".service.MediaPlayerService" >
        </service>
        <service android:name=".service.MediaPlayService" >
        </service>

        <activity
            android:name=".NetMusicListActivity"
            android:label="@string/title_activity_net_music_list" >
        </activity>
    </application>

</manifest>